<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>Gabriels personal Website</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div>
            <ul>
            <li><a href="/">Me</a></li>
            <li><a href="/ventures">Ventures</a></li>
            <li><a href="/info">Info</a></li>
            </ul>
         <img src="/static/I.jpeg" alt="Picture of Gabriel Rose">
        </div>
    </nav>

    <header>
        <h1>Gabriel Rose</h1>
        <p>Learned a lot and wanna keep on learning!</p>
    </header>
    <section>
        <h2>What and why am I learning?</h2>
        <p>comming soon, but it's very exciting (to me)</p>
    </section>

</body>
</html>


