<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>Gabriels personal Websize</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Me</a></li>
            <li><a href="/ventures">Ventures</a></li>
            <li><a href="/info">Info</a></li>
        </ul>
    </nav>

    <header>
        <h1>Here you can message me:</h1>
        <p>E-Mail: gabriel.rose@code.berlin <br><a href="https://www.linkedin.com/in/gabriel-rose-/">LinkedIn</a>
        </p>
    </header>
    <header2>
        <h2>If ur unsure to message me just text me and we'll see!</h2>
    </header2>

</body>
</html>