<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>Gabriels personal Websize</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Me</a></li>
            <li><a href="/ventures">Ventures</a></li>
            <li><a href="/info">Info</a></li>
        </ul>
    </nav>

    <header>
        <h1>What did I do?</h1>
        <p>Grew up in Offenbach am Main<br>My dad taught me the stockmarket when I was 10, unlocking a genuine curiosity in economics & trade within me<br>More comming soon, but thx for reading it already
        </p>
    </header>
  
</body>
</html>